@font-face {
    font-family: 'GlowSansTC-Extended-Medium';
    src: url('../src/fonts/GlowSansTC-Extended-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GlowSansTC-Extended-Medium', sans-serif !important;/* Set the default font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply box-sizing to all elements */
*, *::before, *::after {
    box-sizing: inherit;
}